<div class="repository">
  <div class="container">
    <div class="repository-content">
      <div class="repository-content-header">
        <a class="link" [routerLink]="['/user/' + user.login]">
          <fa name="arrow-left"></fa> <span class="link-text">Back</span>
        </a>
      </div>

      <app-user-aside [user]="this.user"></app-user-aside>

      <div class="repository-info-wrapper" *ngIf="this.repository">
        <div class="repository-info">
          <h1 *ngIf="repository.full_name" class="title">{{repository.full_name}} <a class="repository-link" [href]="repository.html_url" target="_blank"><fa name="external-link"></fa></a></h1>
          <p *ngIf="repository.description" class="description">{{repository.description}}</p>
          <div class="repository-numbers">
            <p *ngIf="repository.stargazers_count" class="repository-stars item">
              <fa name="star"></fa> Stars: {{repository.stargazers_count}}
            </p>

            <p *ngIf="repository.forks_count" class="repository-forks item">
              <fa name="code-fork"></fa> Forks: {{repository.forks_count}}
            </p>
          </div>
          <div *ngIf="repository.language" class="repository-languages">
            <div class="item">{{repository.language}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
