<div class="repository">
  <div class="container">
    <div class="repository-content">

      <app-user-aside></app-user-aside>

      <div class="repository-info-wrapper">
        <div class="repository-info">
          <h1 class="title">matheusochi/portfolio <a class="repository-link" href="#"><fa name="external-link"></fa></a></h1>
          <p class="description">One framework. Mobile & desktop. https://angular.io</p>
          <div class="repository-numbers">
            <p class="repository-stars item">
              <fa name="star"></fa> Stars: 48.491
            </p>

            <p class="repository-forks item">
              <fa name="code-fork"></fa> Forks: 50.000
            </p>
          </div>
          <div class="repository-languages">
            <div class="item">angular</div>
            <div class="item">typescript</div>
            <div class="item">web</div>
            <div class="item">javascript</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
