<div class="user">
  <div class="container">
    <div class="user-content">
      <div class="user-content-header">
        <a class="link" routerLink="/home">
          <fa name="arrow-left"></fa> <span class="link-text">Back</span>
        </a>
      </div>

      <app-user-aside [user]="this.user"></app-user-aside>

      <div class="user-repositories">
        <h2 class="title">Repositories</h2>

        <table mat-table [dataSource]="dataSource" matSort matSortActive="stargazers_count" matSortDirection="desc" class="mat-elevation-z8">

          <!-- Position Column -->
          <ng-container matColumnDef="name">
            <th class="name" mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td class="name" mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="stargazers_count">
            <th class="stars" mat-header-cell *matHeaderCellDef mat-sort-header>Stars</th>
            <td class="stars" mat-cell *matCellDef="let element"> {{element.stargazers_count}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="forks_count">
            <th class="forks" mat-header-cell *matHeaderCellDef mat-sort-header>Forks</th>
            <td class="forks" mat-cell *matCellDef="let element"> {{element.forks_count}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="actions">
            <th class="actions-wrapper" mat-header-cell *matHeaderCellDef>Actions</th>
            <td class="actions-wrapper" mat-cell *matCellDef="let element">
              <a class="action-button" [routerLink]="['/repository/' + element.full_name]" matTooltip="View details">
                <fa name="eye"></fa>
              </a>
              <a class="action-button" [href]="element.html_url" target="_blank" matTooltip="Link to the repository">
                <fa name="external-link"></fa>
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>
