<div class="user-aside" *ngIf="user">
  <img class="user-image" [src]="user.avatar_url" alt="">

  <div class="user-info">
    <h1 class="name">{{user.name}}</h1>
    <p class="username">{{user.login}}</p>
    <h2 class="description">{{user.bio}}</h2>

    <ul class="additional-info">
      <li>
        <fa name="users"></fa>
        Revelare
      </li>
      <li>
        <fa name="map-marker"></fa>
        Bauru, SP, Brasil
      </li>
      <li>
        <fa name="envelope"></fa>
        <a href="mailto:matheus@revelare.com.br">matheus@revelare.com.br</a>
      </li>
    </ul>
    <div class="social">
      <div class="item followers">1 <br>Follower</div>
      <div class="item following">1 <br>Following</div>
      <div class="item repos">1 <br>Repos</div>
    </div>
  </div>
</div>
